.header
  position: fixed
  z-index: 90
  top: 0
  left: 0
  width: 100%
  padding: 0 13rem
  padding-top: 1rem
  height: 10rem
  transition: background-color 500ms
  @media screen and (max-width: $tablet)
    height: 15rem
    padding-right: 13.33rem
    padding-left: 13.33rem
    @media screen and (max-width: $mobile)
      padding-right: 6rem
      padding-left: 6rem
      height: 12rem
.wrapper_menu
  width: 5.5rem
  height: 4.5rem
  margin-right: 4vw
  position: fixed
  z-index: 110
  top: 2.5%
  left: 7%
  @media screen and (max-width: $tablet)
    left: 13.33rem
    top: 3%
    @media screen and (max-width: $mobile)
      width: 8rem
      height: 8rem
      top: 1.5%
.menu
  position: relative
  width: 100%
  height: 5px
  background-color: #fff
  transition: 500ms
  @media screen and (max-width: $tablet)
    height: 3px
  &:before
    position: absolute
    top: -15px
    left: 0
    content: ''
    width: 100%
    height: 5px
    background-color: #fff
    transition: 500ms
    @media screen and (max-width: $tablet)
      top: -10px
      height: 3px
      @media screen and (max-width: $mobile)
        top: -15px
  &:after
    position: absolute
    top: 15px
    left: 0
    content: ''
    width: 100%
    height: 5px
    background-color: #fff
    transition: 500ms
    @media screen and (max-width: $tablet)
      top: 10px
      height: 3px
      @media screen and (max-width: $mobile)
        top: 15px
  &_open
    height: 0
    transition: 500ms
    &:before
      top: 50%
      left: 50%
      transform: translate(-50%,-50%) rotate(45deg)
      transition: 500ms
    &:after
      top: 50%
      left: 50%
      transform: translate(-50%,-50%) rotate(-45deg)
      transition: 500ms
.logo
  position: fixed
  z-index: 90
  top: 1%
  left: 15%
  @media screen and (max-width: $tablet)
    top: 2.2%
    left: 22rem
    @media screen and (max-width: $mobile)
      left: 30%
  &_coaching
    text-align: left
    font-family: 'Montserrat',sans-serif
    font-weight: 400
    font-size: 5rem
    line-height: 5.6rem
    color: #FFFFFF
    @media screen and (max-width: $mobile)
      font-size: 5.5rem
  &_name
    text-align: center
    font-size: 1.5rem
    line-height: 1.5rem
    font-family: 'Montserrat',sans-serif
    font-weight: 400
    color: #ffffff
    @media screen and (max-width: $mobile)
      font-size: 1.66rem
.header_list_icon
  position: fixed
  z-index: 90
  top: 3%
  right: 10%
  @media screen and (max-width: $tablet)
    top: 3.5%
    right: 13.33rem
  @media screen and (max-width: $mobile)
    width: 20vw
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    top: 2%
.header_icon
  width: 3rem
  height: 3rem
  margin-right: 1rem
  @media screen and (max-width: $mobile)
    width: calc(50% - 1rem)
    margin-bottom: 1rem
    height: 3.5rem

  &>img
    width: 100%
    height: 100%
    @media screen and (max-width: $mobile)

  &>a
    color: #ffffff