.reviews
  padding-left: 13rem
  padding-top: 28rem
  position: relative
  overflow: hidden
  padding-bottom: 14rem
  @media screen and (max-width: $tablet)
    padding-left: 13.33rem
    padding-top: 22rem
  &_title
    margin-bottom: 8rem
  &_slider
    width: 110vw
    height: auto
    @media screen and (max-width: $tablet)
      width: 230vw
    &_item
      background-color: $white
      position: relative
      z-index: 2
      width: 100%
      min-height: 40vh
      height: auto
      display: flex
      flex-direction: row
      margin-right: 3rem
      box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.1)
      @media screen and (max-width: $tablet)
        width: 65%

      &_img
        width: 32%
        height: auto
        overflow: hidden
        position: relative
        @media screen and (max-width: $tablet)
          width: 40%
          padding-top: 80%
        &>img
          position: absolute
          top: 0
          left: 0
          background-color: $white
          height: auto
          width: 100%
    &_info
      padding: 3rem
      width: 68%
      @media screen and (max-width: $tablet)
        padding: 4.33rem
        width: 60%
      &_name
        font-family: $fontF
        font-weight: 700
        font-size: 3rem
        line-height: 3.6rem
        margin-bottom: 0.5rem
        @media screen and (max-width: $tablet)
          font-size: 4.33rem
          line-height: 5.33rem
          margin-bottom: 1rem
      &_subname
        font-size: 1.4rem
        line-height: 1.8rem
        font-family: $fontF
        font-weight: 400
        margin-bottom: 2.2rem
        @media screen and (max-width: $tablet)
          font-size: 2rem
          line-height: 2.33rem
      &_text
        font-family: $fontF
        font-size: 1.8rem
        line-height: 2.4rem
        font-weight: 400
        @media screen and (max-width: $tablet)
          font-size: 2.66rem
          line-height: 3.33rem
.wrapper_reviews_slider
  padding: 0 15px